[submodule "MCP2517_ATSAMD_driver"]
	path = MIDIBUS_Tangle/MCP2517_ATSAMD_driver
	url = https://github.com/GuavTek/MCP2517_ATSAMD_driver
[submodule "MIDIBUS_Tangle/memory_driver"]
	path = MIDIBUS_Tangle/memory_driver
	url = https://github.com/GuavTek/memory_driver
[submodule "MIDIBUS_Tangle/AM_MIDI2"]
	path = MIDIBUS_Tangle/AM_MIDI2
	url = https://github.com/midi2-dev/AM_MIDI2.0Lib
